:root{
	--light:#fff;
	--heightNav:80px;
}
 *{
 	margin:0;
 	padding:0;
	 box-sizing:border-box;
	 scroll-behavior: smooth;
 }
 .logo > img{
 	height:var(--heightNav);
 	vertical-align:top;
 	background:#ddd;
 }
 .contenido{
 	margin:auto;
 	margin-top:50px;
 	max-width:80%;
 }
   
 .contenido p{
	margin-bottom: 15px;
	padding: 15px 5px;
	border-bottom: 1.2px solid gold;
	border-right: 1.2px solid gold;
}
.contenido p:hover{
	background: cornsilk;
}



	#icon_menu{
		width: 40px;
		cursor: pointer;
	}
	#navbar,
	.navegacion{
		display: flex;
	}
	#btn-menu,
	#icon_menu{
		display: none;
	}
	#navbar{
		justify-content: space-around;
		align-items: center;
		position: fixed;
		width: 100%;
		top: 0;
		transition: 0.5s;
	}
	ul{
		border-radius: 5px 10px 15px 15px;
		box-sizing: border-box;
	}
	.navegacion ul{
		display: none;
	}
	ul li{
		list-style: none;
	}
	.navegacion li a{
		text-decoration: none;
		padding: 20px 15px;
		font-size: 1.4em;
	}
	.navegacion li ul{
		position: absolute;
		background: #aaa8a8;
	}
	.navegacion li:hover {
		background: #aaa8a8;
	} 
	.navegacion li:hover ul{
		display: none;
		/* position: absolute; */
		background: #aaa8a8;
		transform: translateY(8%);
		transition: all 0.3ms;
	}

	.navegacion li ul li:hover{
		background: #ddd;
	}
	
	@media (max-width: 768px){
		ul{
			border-radius: 5px 10px 20px 40px;
		}
		.navegacion li:hover ul{
			display: none;
			transform: translateY(20%) translateX(-10%);

		}
		
	}

 