:root{
	--light:#fff;
	--heightNav:80px;
}
 *{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 }
 .logo > img{
 	height:var(--heightNav);
 	vertical-align:top;
 	background:#ddd;
 }
 .contenido{
 	margin:auto;
 	margin-top:50px;
 	max-width:80%;
 }
   
 .contenido p{
	margin-bottom: 15px;
	padding: 15px 5px;
	border-bottom: 1.2px solid gold;
	border-right: 1.2px solid gold;
}
.contenido p:hover{
	background: cornsilk;
}



	#icon_menu{
		width: 40px;
	}
	#navbar,
	.navegacion{
		display: flex;
	}
	#btn-menu,
	#icon_menu{
		display: none;
	}
	#navbar{
		justify-content: space-around;
		align-items: center;
		position: fixed;
		width: 100%;
		top: 0;
		transition: 0.5s;
	}
	.navegacion{
		list-style: none;
	}
	.navegacion li a{
		text-decoration: none;
		padding: 20px 15px;
	}
	.navegacion li:hover {
		background: #aaa8a8;
	}

 