.contenedorSlid{
    /* margin-top: 80px; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slider-contenedor{
    width: 100%;
    display: flex;
}
.contenido-slider{
    width: 100%;
    height: 623px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
}
.tS{ /*tituloSlider*/
    font-size: 2.5em;
    font-weight: bold;
    margin: 10%;
    letter-spacing: 3px;

}
.tT{
    word-spacing: 0.5em;
}
.contenido-slider:nth-child(2){
    background: linear-gradient(90deg,#1f28ae, #ffffff44);
    color: #fff;
}
.contenido-slider:nth-child(3){
    background: linear-gradient(45deg, rgb(22, 37, 53),rgba(63, 95, 30, 0.412));
    color: #fff;
}
.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
}
.imgSlid{
    width: 500px;
}
.contenido-slider  > div{
    width: 40%;
}
.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}
/* .contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none; 
} */
@media screen and (max-width:900px){
    .imgSlid{
        width: 350px;
    }
    .contenido-slider > div{
        width: 40%;

    }
    .contenido-slider h2{
        font-size: 23px;
    }
}
@media screen and (max-width:768px){
    .contenedorSlid{      
        margin-top: 40px;
    }
    .imgSlid{
        width: 280px;
        /* margin-top: 20px; */
    }
    .contenido-slider{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .contenido-slider > div{
        width: 80%;

    }
}